<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries><package android:name="moe.shizuku.privileged.api" /></queries>
    <application android:theme="@style/Theme.AutoToggle" android:label="Android Auto Toggle" android:allowBackup="false">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:name=".AutoTileService" android:label="Android Auto ON/OFF" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true">
            <intent-filter><action android:name="android.service.quicksettings.action.QS_TILE"/></intent-filter>
        </service>
    </application>
</manifest>
